.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___versus-sign {
  margin: 30px 0;

  display: block;
  height: 50px;
  max-height: 50px;
}
